---
import Layout from '../layouts/Layout.astro';
import ForgotPasswordForm from '../components/ForgotPasswordForm';
---

<Layout title="Forgot password - Pasteriser">
	<div class="max-w-md mx-auto px-4 py-8">
		<ForgotPasswordForm client:load />
	</div>
</Layout>
