---
import Layout from '../layouts/Layout.astro';
import PasteForm from '../components/PasteForm';
import ApiSnippets from '../components/ApiSnippets';
---

<Layout title="Pasteriser">
	<div class="max-w-5xl mx-auto px-4 py-4">
		<PasteForm client:load />

		<section class="mt-6">
			<div class="divider-label">
				<span>API</span>
			</div>
			<ApiSnippets client:load />
		</section>
	</div>
</Layout>
