---
import Layout from '../layouts/Layout.astro';
import AuthForm from '../components/AuthForm';
---

<Layout title="Log in - Pasteriser">
	<div class="max-w-md mx-auto px-4 py-8">
		<AuthForm mode="login" client:load />
	</div>
</Layout>
